<ion-header>
  <ion-menu-button menu="main-menu"></ion-menu-button>
  <img  class="logo" height="150"  width="150" src="assets/icon/logo.png" >
  </ion-header>

<ion-content color="primary">
  <ion-title class="ion-text-center" color="light">PLEASE SCAN<br>
    QR CODE</ion-title>
    <ion-row style="height: 20px"></ion-row>
  <ion-title>
    <img height="150"  width="150" src="assets/images/qr.png" >
  </ion-title>
  <ion-row style="height: 10px"></ion-row>
 <ion-button [routerLink]="['/welcome']" (click)="scanBarcode()" type="submit" class="scan" color="secondary">SCAN QR CODE</ion-button>
 <ion-row style="height: 20px"></ion-row>
 <ion-title class="ion-text-center" color="light">or enter area ID number</ion-title>
<ion-searchbar color="secondary"></ion-searchbar>
<ion-button [routerLink]="['/welcome']" (click)="scanBarcode()" type="submit" class="scan" color="secondary">SEARCH ID</ion-button>
</ion-content>

