<ion-header>
  <ion-menu-button menu="main-menu"></ion-menu-button>
</ion-header>
  
<ion-content color="primary">
  <ion-title class="ion-text-center" color="light" >Hi!</ion-title>
  <ion-row style="height: 50px"></ion-row>
  <ion-title class="ion-text-center" color="light">Before we get going,<br>
      we would like to know <br>
      a bit about your <br>
      preferences</ion-title>
      <ion-row style="height: 50px"></ion-row>
      <ion-title class="ion-text-center">
        <img  alt="logo"  src="assets/line.png" > 
      </ion-title>
      <ion-row style="height: 50px"></ion-row>
  <ion-row>
    <ion-col>
      <ion-button  [routerLink]="['/question1']" class="go" type="submit" color="secondary" expand="block">LET'S GO</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button  [routerLink]="['/home']" class="no" type="submit" color="secondary" expand="block">NO, THANKS</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button  [routerLink]="['/qrcode']" class="back" type="submit" color="secondary" expand="block">BACK</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
