<ion-header>
  <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-header>
 
<ion-content color="primary">
  <ion-title color="light" class="ion-text-center" id="setup-title">Setting<br> up<br> indoor climate</ion-title>
  <ion-row style="height: 50px"></ion-row>
<ion-img src="assets/images/fan.png" class="setup-img">
</ion-img>
<ion-row style="height: 260px"></ion-row>
<ion-button [routerLink]="['/home']" class="next" type="submit" color="secondary" expand="block" >NEXT</ion-button>
</ion-content>


