#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #972121;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.usericon {
  color: white;
  font-size: 2em;
  float: right;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

ion-menu-button {
  color: white;
  float: left;
  width: unset;
  font-size: 2em;
  margin-top: 0.3em;
  margin-left: 0.3em;
}

.qbuttons {
  background: #152B38;
  margin-bottom: 0.5em;
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to left, #2DA8F1, #E05BF1);
}




ion-card-header {
  background: linear-gradient(to left, #2DA8F1, #E05BF1);
  color: white;

}
ion-card-subtitle{
  color: white;
}
ion-card-title{
  color: white;
}
ion-icon{
  color: white;
}

/*
.range{
  -ms-transform: rotate(-90deg);
 -webkit-transform: rotate(-90deg);
 transform: rotate(-90deg);
 margin-bottom: 200px;
}
*/

.range {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

ion-label {
  color:#ffffff;
}
