<ion-header>
  <ion-menu-button menu="main-menu"></ion-menu-button>
  
</ion-header>
  
<ion-content color="primary">
  <ion-title class="ion-text-center" color="light">How do you<br>
      like this <br>
      indoor <br>
      climate?</ion-title>
      <ion-row style="height: 100px"></ion-row>
   
  <ion-row>
    <ion-col>
      <ion-button  [routerLink]="['/home']" class="go" type="submit" color="secondary" expand="block">GREAT</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button  [routerLink]="['/welcome']" class="no" type="submit" color="secondary" expand="block">NOT QUITE</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button  [routerLink]="['/question2']" class="back" type="submit" color="secondary" expand="block">BACK</ion-button>
    </ion-col>
  </ion-row>

</ion-content>